*.pyc
*.rar
*.wpr
*.old
*.suo
*.vcproj
*.user
*.sdf
*.ncb
*.filter
*.vcxproj
*BuildLog*
*.*log
*.log
*.dep
*.obj
*.pdb
*.exp
*.lastbuildstate
*.manifest
*.dep
*.filters
*.unsuccessfulbuild
*.ipch
*/Decomposition
*/GreensFunction
*/Simulation_Data
*/IB_c/Debug
*/IB_c/Release
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tcp
*.tps
*.spl